# ================================
# Dataset
# ================================

dataset/

# ================================
# Python
# ================================

__pycache__/
*.py[cod]
*$py.class

# ================================
# Virtual Environment
# ================================

.venv/
venv/
env/
ENV/

# ================================
# Environment Variables
# ================================

.env
.env.*
!.env.example

# ================================
# Jupyter
# ================================

.ipynb_checkpoints/

# ================================
# VS Code
# ================================

.vscode/
*.code-workspace

# ================================
# OS Files
# ================================

.DS_Store
Thumbs.db

# ================================
# Python Build
# ================================

build/
dist/
*.egg-info/
.eggs/

# ================================
# Logs
# ================================

*.log

# ================================
# Temporary Files
# ================================

*.tmp
*.temp
*.swp
*.swo

# ================================
# Streamlit
# ================================

.streamlit/secrets.toml

# Trained models
models/